<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Crud_LInq_To_Sql.Properties.Settings.StudentDBConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=StudentDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Crud_LInq_To_Sql.Properties.Settings.ProductConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Product.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Crud_LInq_To_Sql.Properties.Settings.ProductDbConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ProductDb.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>