USE [master]
GO
/****** Object:  Database [StudentDB]    Script Date: 6/4/2026 2:20:33 PM ******/
CREATE DATABASE [StudentDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentDB', FILENAME = N'E:\SqlServer\MSSQL17.SQLEXPRESS\MSSQL\DATA\StudentDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentDB_log', FILENAME = N'E:\SqlServer\MSSQL17.SQLEXPRESS\MSSQL\DATA\StudentDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentDB]
GO
/****** Object:  Table [dbo].[student]    Script Date: 6/4/2026 2:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[gender] [varchar](50) NOT NULL,
	[age] [int] NOT NULL,
	[standard] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[student] ON 

INSERT [dbo].[student] ([Id], [name], [gender], [age], [standard]) VALUES (1, N'Shad', N'male', 20, 52)
INSERT [dbo].[student] ([Id], [name], [gender], [age], [standard]) VALUES (4, N'Rony', N'male', 50, 15)
INSERT [dbo].[student] ([Id], [name], [gender], [age], [standard]) VALUES (6, N'Rihanul', N'male', 20, 50)
SET IDENTITY_INSERT [dbo].[student] OFF
GO
/****** Object:  StoredProcedure [dbo].[spDeleteStudent]    Script Date: 6/4/2026 2:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDeleteStudent]
@id int
AS
DELETE FROM student
WHERE id=@id;
GO
/****** Object:  StoredProcedure [dbo].[spInsertStudent]    Script Date: 6/4/2026 2:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spInsertStudent]
@name varchar(50),
@gender varchar(50),
@age int,
@standared int
as
insert into student(name,gender,age,[standard])
values(@name,@gender,@age,@standared);
GO
/****** Object:  StoredProcedure [dbo].[spShowStudent]    Script Date: 6/4/2026 2:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spShowStudent]
    @standared int = NULL
AS
    IF @standared IS NULL
        SELECT * FROM student;
    ELSE
        SELECT * FROM student
        WHERE [standard] = @standared;
GO
/****** Object:  StoredProcedure [dbo].[spUpdateStudent]    Script Date: 6/4/2026 2:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spUpdateStudent]
@id int ,@name varchar(50),
@gender varchar(50),
@age int,
@standard int
AS
UPDATE student
SET name=@name,
gender=@gender,
age=@age,
[standard]=@standard
where id=@id;
GO
USE [master]
GO
